<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>backgroundNotification.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>34909FBB1972A7820031F5F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>34909FD11972A7820031F5F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
